.container{
    font-size: 18px;
    padding: 15px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid rgb(84, 38, 222);
    color: rgb(84, 38, 222);
    cursor: pointer;
}

.dark{
    background-color: black;
}



.container:hover{
    background-color: rgb(84, 38, 222);
    color: white;
}