.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

.logo{
    height: 100px;
    width: 100px;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.links{
    display: flex;
    gap: 20px;
    align-items: center;
}

button{
    font-size: 20px;
}


