.container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 20px;
    width: 90%;
    position:relative;
    bottom: 100px;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px  5px rgb(215, 215, 215);
}

.container h2{
    font-size: 40px;
    padding-top: 50px;
}

.techs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.img_container{
    height: 120px;
    width: 120px;
    opacity: .8;
}

.img_container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img_container:hover{
    opacity: 1;
}